asf_core_data@git+ssh://git@github.com/nestauk/asf_core_data.git@19_epc_from_s3
geopandas==0.10.2
geopy==2.2.0
gradio==3.16.2
ipython==8.8.0
ipywidgets==7.7.0
keplergl==0.3.2
matplotlib==3.5.3
metaflow==2.7.7
numpy==1.23.2
pandas==1.4.3
pgeocode==0.3.0
PyYAML==6.0
requests==2.28.1
scipy==1.9.1
seaborn==0.11.2
setuptools==65.2.0
Shapely==1.8.2
